from pipen import Pipen
from pipen_args import install  # noqa: F401

from .processes import ExampleProcess


class Pipeline(Pipen):
    name = "{{pipeline_name}}"
    desc = "{{pipeline_desc}}"
    starts = ExampleProcess


def main():
    Pipeline().run()
