from pipen import Pipen
from pipen_args import install  # noqa: F401

from .processes import ExampleProcess


pipeline = Pipen(
    name="{{pipeline_name}}",
    desc="{{pipeline_desc}}",
)
pipeline.set_start(ExampleProcess)


def main():
    pipeline.run()
