"""Define processes for the pipeline"""

from pipen import Proc


# Define your processes here
class ExampleProcess(Proc):
    """Example process

    Input:
        invar: Input variables

    Output:
        outfile: Output file
    """
    input = "invar:var"
    output = "outfile:file:output.txt"
    script = "file://scripts/ExampleProcess.sh"
    plugin_opts = {
        {% if report -%}
        "report": "file://reports/ExampleProcess.svelte",
        {%- endif %}
    }
