[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{pipeline_name}}"
version = "0.0.1"
description = "{{pipeline_desc}}"
authors = [
    {name = "{{author}}", email = "{{author_email}}"},
]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "pipen>=1.1",
    "pipen-filters>=1.1",
    "pipen-verbose>=1.1",
    "pipen-args>=1.2",
    {% if report -%}
    "pipen-report>=1.2",
    {%- endif %}
    ]
{% if console_script %}
[project.scripts]
{{pipeline_name}} = "{{pipeline_name}}.main:main"
{% endif %}

[tool.black]
line-length = 88
target-version = ['py39', 'py310', 'py311', 'py312']
include = '\.pyi?$'
