[tool.poetry]
name = "{{pipeline_name}}"
version = "0.0.1"
description = "{{pipeline_desc}}"
authors = ["{{author}} <{{author_email}}>"]
readme = "README.md"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
pipen = "^1.0"
pipen-filters = "^1.0"
pipen-verbose = "^1.0"
pipen-args = "^1.0"
{% if report -%}
pipen-report = "^1.0"
{%- endif %}

[tool.poetry.group.dev.dependencies]

{% if console_script %}
[tool.poetry.scripts]
{{pipeline_name}} = "{{pipeline_name}}.main:main"
{% endif %}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py39', 'py310', 'py311', 'py312']
include = '\.pyi?$'
