# {{pipeline_name}}

## Installation

```bash
$ cd {{pipeline_name}}/
$ poetry install
```

## Usage

```bash
$ poetry run python -m {{pipeline_name}}

# If console_script is True
$ poetry run {{pipeline_name}}
```
