# {{pipeline_name}}

## Installation

```bash
$ cd {{pipeline_name}}/
$ uv sync
```

## Usage

```bash
$ uv run python -m {{pipeline_name}}

# If console_script is True
$ uv run {{pipeline_name}}
```
